@import 'vars.less';

/*Спецификации*/



.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}
/*------------------------------------------------------------------------*/


body
{
    font-family: @fontOp;
}





// header
// header{
    
// }
// end header