@import 'vars.less';

/*Спецификации*/



.clearfix:after {
	content: " ";
	display: table;
	width: 100%;
}




body {
	font-family: @fontOp;
	cursor: none;
}

.fa-times-mod {
	display: none;
	margin-top: 5px;
}

.slick-initialized .slick-slide {
	margin: 0 10px;
}

.slick-slider .slick-track {
	margin-top: 10px;
	margin-bottom: 10px;
}


.slick-dots li button:before {
	font-size: 50px;
	color: @layt_blue;
}



.slick-current .review_slider_item {
	-webkit-box-shadow: 1px 1px 8px 0px rgba(5, 137, 214, 0.75) !important;
	-moz-box-shadow: 1px 1px 8px 0px rgba(5, 137, 214, 0.75) !important;
	box-shadow: 1px 1px 8px 0px rgba(5, 137, 214, 0.75) !important;
	opacity: 1 !important;
}


.slick-dots li.slick-active>button::before {
	color: @layt_blue  !important;
}


.block_5_up {
	display: none;
}

.block_7 .slick-list {
	overflow: hidden;
}

.block_7 .slick-initialized .slick-slide {
	margin: 0;
}

.but_up {
	position: fixed;
	bottom: 50px;
	left: 50px;
	cursor: pointer;
}

.dn {
	display: none;
}

.db {
	display: block;
}

.dark_blue {
	color: #004BA2;
}

.join_us_block_5_row_mod
{
	margin-top: -30px;
}






/*------------------------------------------------------------------------*/










// header
header {
	min-height: 1104px;
	padding-top: 40px;

	nav {
		display: flex;
		align-items: flex-end;
		font-family: @fontRob;

		.header_logo {
			width: 30%;
		}

		.header_menu {
			width: 70%;
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: right;

			li {
				float: left;
				margin-left: 43px;
				overflow: hidden;

				a {
					color: #fff;
					text-decoration: none;
					position: relative;
					display: block;
					padding-bottom: 3px;
					transition: all 0.5s;
					overflow: hidden;




					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 2px;
						background-color: #fff;
						position: absolute;
						left: 0;
						bottom: 0;
						transition: all 0.5s;
						transform: translateX(-110%);
					}



					&:hover {
						text-decoration: none;
					}

					&:hover::after {
						transform: translateX(0%);
					}
				}

				.active {
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 2px;
						background-color: #fff;
						position: absolute;
						left: 0;
						bottom: 0;
						transition: all 0.5s;

					}
				}
			}


		}

		.mobile_but {
			display: none;

			cursor: pointer;
			color: #fff;
			font-size: 25px;

			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.header_content {
		margin-top: 100px;

		h1 {
			font-family: @fontOp;
			font-size: 64px;
			font-weight: 700;
			color: #fff;
			margin-bottom: 40px;
		}

		h4 {
			font-family: @fontOp;
			font-size: 24px;
			font-weight: 600;
			line-height: 30px;
			color: #fff;
			width: 70%;
		}
	}


}

.header_btn_box {
	margin-top: -300px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;

	.header_btn_box_text {
		display: flex;
		align-items: center;

		p {
			width: 35%;
			margin: 0;
			padding: 0;
			font-weight: 700;
			font-size: 32px;
			font-family: @fontOp;
			margin-left: 40px;
		}

		img {
			transform: scale(0.9);
		}
	}

	.header_btn_box_btn {
		display: flex;
		justify-content: center;
		margin-top: 75px;

		a {
			display: block;
			border: 3px solid @layt_blue;
			padding: 8px 30px;
			font-size: 24px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: @dark_blue;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;


			&:hover {
				text-decoration: none;
				background-color: #0589D6;
				color: #fff;
				transition: all 0.3s;
				border: 3px solid #fff;
			}




			&:hover {
				text-decoration: none;
			}

			&:hover::after {
				transform: translateX(0%);
			}


		}
	}
}

// end header





// block_2
.block_2 {
	overflow: hidden;
	height: 359px;

	.review_slider {

		.review_slider_item {
			display: flex !important;

			width: 32%;
			min-height: 200px;
			padding: 20px;
			border-radius: 10px;
			opacity: 0.1;

			-webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
			-moz-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
			box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);




			.review_slider_item__img {
				padding-right: 20px;
				border-right: 3px solid @layt_blue;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;

				img {
					width: 100px;
					height: 100px;
				}

				.review_insta {
					a {
						img {
							width: 32px;
							height: 32px;
						}
					}
				}
			}

			.review_slider_item__text {
				padding-left: 20px;

				.review_content {
					font-size: 25px;
					font-weight: 700;
				}
			}
		}
	}
}

// end block_2


// block_3
.block_3 {
	padding: 70px 0;
	// margin-top: -0px;


	.block_3_item {
		h2 {
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 40px;
		}

		img {
			height: 600px;
		}

		p {
			font-size: 18px;
		}
	}



	.block_3_item_img {
		text-align: center;
	}
}

// end block_3



// block_4
.block_4 {

	.block_4_title {
		h2 {
			margin-bottom: 50px;
			text-align: center;
			font-size: 48px;
			font-weight: 700;
		}
	}

	.block_4_content {
		.block_4_item {
			margin-bottom: 30px;

			h3 {
				font-size: 36px;
				font-weight: 700;
				margin-bottom: 30px;
			}

			p {
				font-size: 20px;
			}
		}

		.block_4_item_content {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
			justify-content: center
		}

		.block_4_item_wrap {
			margin-bottom: 0px;
		}


	}
}

// end block_4



// block_5
.block_5 {
	margin-top: 80px;
	margin-bottom: 60px;

	.block_5_title {
		margin-bottom: 50px;

		h2 {
			font-size: 32px;
			font-weight: 700;
			text-align: center;
		}
	}


	.block_5_list {
		.block_5_item {
			padding: 3px;
			margin-bottom: 30px;
			background-color: #fff;

			-webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
			-moz-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
			box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
			border-radius: 10px;
			transition: all 0.3s;
			cursor: pointer;

			&:hover {
				transform: translateY(-10px);
				transition: all 0.3s;
			}


			img {
				margin-bottom: 20px;
				border-radius: 10px;
			}

			p {
				margin-bottom: 20px;
				padding: 0px 15px;
			}
		}
	}

	.block_5_btn {
		display: flex;
		justify-content: center;
		margin-top: 50px;

		span {
			display: block;
			border: 3px solid @layt_blue;
			padding: 8px 30px;
			font-size: 24px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: @dark_blue;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;
			cursor: pointer;


			&:hover {
				text-decoration: none;
				background-color: #0589D6;
				color: #fff;
				transition: all 0.3s;
				border: 3px solid #fff;
			}




		}
	}
}

// end block_5



// block_6
.block_6 {
	margin-top: 80px;
	margin-bottom: 120px;

	.block_6_title {
		text-align: center;

		span {
			color: @layt_blue;
		}

		h2 {
			font-size: 36px;
			font-weight: 700;
		}

		.block_6_subtitle {
			padding: 10px 250px;
			font-size: 21px;
			font-weight: 500;
		}
	}

	.block_6_btn {
		display: flex;
		justify-content: center;
		margin-top: 75px;

		a {
			display: block;
			border: 3px solid @layt_blue;
			padding: 8px 30px;
			font-size: 24px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: @dark_blue;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;


			&:hover {
				text-decoration: none;
				background-color: #0589D6;
				color: #fff;
				transition: all 0.3s;
				border: 3px solid #fff;
			}




			&:hover {
				text-decoration: none;
			}

			&:hover::after {
				transform: translateX(0%);
			}


		}
	}
}

// end block_6


// block_7
.block_7 {

	overflow: hidden;

	.block_7_title {
		padding: 0 50px;
		margin-bottom: 50px;

		h2 {
			font-size: 36px;
			font-weight: 700;
			text-align: center;
		}
	}


	.block_7_content {
		.block_7_content_item {
			img {
				margin: 0 auto;
			}
		}
	}
}

// end block_7



// block_8
.block_8 {
	padding: 80px 0;
	overflow: hidden;

	.block_8_title {
		// margin-bottom: 70px;

		h2 {
			font-size: 36px;
			text-align: center;
			font-weight: 700;
		}
	}

	.block_8_content {

		.block_slide {
			transition: all 0.5s;
			transform: scale(0.7);


			.block_8_slider_item {
				position: relative;
				z-index: 9999;
				height: 290px;
				border-radius: 10px;
				position: relative;
				cursor: pointer;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				padding: 20px;

				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					right: 0;
					background-color: rgba(0, 0, 0, 0.3);
					border-radius: 10px;
					cursor: pointer;
					z-index: -1;
				}






				.block_8_slider_item_title {
					h2 {
						color: #fff;
						font-weight: 700;
						text-transform: uppercase;
						opacity: 0.8;
						font-size: 30px;
						margin-bottom: 20px;
					}
				}
			}


		}

		.slick-current {
			.block_slide {
				transform: scale(1.1);
				position: relative;
				z-index: 99999;

				h2 {
					opacity: 1 !important;
				}
			}
		}





	}



	.block_8_btn {
		display: flex;
		justify-content: center;
		margin-top: 70px;

		a {
			display: block;
			border: 3px solid @layt_blue;
			padding: 8px 30px;
			font-size: 24px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: @dark_blue;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;


			&:hover {
				text-decoration: none;
				background-color: #0589D6;
				color: #fff;
				transition: all 0.3s;
				border: 3px solid #fff;
			}


		}
	}


	.slick-slider .slick-track {
		padding-top: 50px;
	}
}

// end block_8



// footer
footer {
	padding: 85px 0 100px 0;
	background-color: #141414;

	.footer_content {
		.footer_item {
			color: #fff;

			a {
				color: #fff;
				display: inline-block;


				&:hover {
					text-decoration: none;
				}
			}

			.footer_slogan {
				font-size: 16px;
				margin-bottom: 5px;
			}

			ul {
				margin: 0;
				padding: 0;
				padding-left: 120px;


				li {
					list-style-type: none;
					position: relative;

					a {
						font-size: 18px;
						display: inline-block;
						text-align: right;
						position: relative;
						overflow: hidden;


						&::after {
							content: '';
							display: inline-block;
							width: 100%;
							height: 2px;
							background-color: #fff;
							position: absolute;
							left: 0;
							bottom: 0;
							transition: all 0.5s;
							transform: translateX(110%);
						}



						&:hover {
							text-decoration: none;
						}

						&:hover::after {
							transform: translateX(0%);
						}

					}

					.active {
						&::before {
							content: '';
							display: block;
							width: 100%;
							height: 2px;
							background-color: #fff;
							position: absolute;
							left: 0;
							bottom: 0;
							transition: all 0.5s;

						}
					}
				}
			}
		}

		.footer_item_first {
			font-size: 16px;

			img {
				margin-left: -40px;
				margin-bottom: 40px;
			}

			p {
				margin-bottom: 0;
				margin-top: 10px;
			}
		}

		.footer_item_second {
			display: flex;

			height: 100%;
			flex-direction: column;
			justify-content: flex-end;

			margin-top: -20px;
		}
	}
}

// end footer















// -----------------------------------------------neyra-market-----------------------------------------------------------


header.header_neyra_market {

	li {
		a {
			overflow: hidden;
		}

	}

	.header_content {
		h1 {
			font-size: 48px;
		}

		h4 {
			width: 100%;
			font-size: 25px;
		}

		.header_neyra_market_btn {
			margin-top: 50px;

			a {
				display: inline-block;
				border: 3px solid #fff;
				padding: 8px 50px;
				font-size: 20px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #fff;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;


				&:hover {
					text-decoration: none;
					background-color: #fff;
					color: #0589D6;
					transition: all 0.3s;
					border: 3px solid #0589D6;
				}




				&:hover {
					text-decoration: none;
				}

				&:hover::after {
					transform: translateX(0%);
				}
			}
		}



	}
}

.header_neyra_market_btn_box {
	height: 1px;

	.header_btn_box_text {
		display: flex;
		justify-content: flex-end;

		h3 {
			font-size: 32px;
			font-weight: 700;
			width: 45%;
			position: relative;
			top: -230px;
		}
	}



}



.neyra_market_block_2 {
	margin-top: -50px;

	.neyra_market_block_2_content {


		.neyra_market_block_2_content_item {
			a {
				width: 100%;
				display: block;
				height: 455px;
				padding: 30px;
				-webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
				-moz-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
				box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
				border-radius: 10px;
				text-align: center;
				margin-bottom: 30px;
				text-decoration: none;
				color: inherit;
				transition: all 0.3s;
				background-color: #fff;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;

				&:hover {
					transition: all 0.3s;
					transform: translateY(-10px);
				}

				h3 {
					font-size: 24px;
					font-weight: 700;
					margin-bottom: 20px;
				}

				p {
					font-size: 18px;
					font-weight: 400;
				}
			}
		}
	}

	.neyra_market_block_2_btn {
		display: flex;
		justify-content: center;

		a {
			margin-top: 30px;
			display: inline-block;
			border: 3px solid @layt_blue;
			padding: 8px 30px;
			font-size: 24px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: @dark_blue;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;


			&:hover {
				text-decoration: none;
				background-color: #0589D6;
				color: #fff;
				transition: all 0.3s;
				border: 3px solid #fff;
			}


		}
	}
}






// ------------------------------------------------Partners-------------------------------------------------------------




header.partners_header {
	min-height: 900px;
}

.header_partners_btn_box {
	margin-top: -210px;

	.header_btn_box_text {
		p {
			margin: 0;
			font-size: 40px;
			width: 100%;
		}
	}
}


.partners_block_2 {
	margin-top: 120px;

	.partners_block_2_list {
		.partners_block_2_item {
			text-align: center;
			margin-bottom: 100px;
			height: 531px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			h4 {
				font-size: 35px;
				font-weight: 700;
				width: 75%;
			}



			a {
				display: inline-block;
				border: 3px solid #111;
				padding: 5px 25px;
				font-size: 22px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #111;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;
				margin-top: 20px;
				font-weight: 500;


				&:hover {
					text-decoration: none;
					background-color: #0589D6;
					color: #fff;
					transition: all 0.3s;
					border: 3px solid #fff;
				}




				&:hover {
					text-decoration: none;
				}

				&:hover::after {
					transform: translateX(0%);
				}
			}
		}
	}
}



.partners_block_5 {
	margin-top: 0;
	margin-bottom: 30px;

	.partners_block_5_btn {
		margin-top: 0;

		.fa-angle-double-up {
			display: none;
		}

		i {
			font-size: 40px;
			font-weight: 400;
		}
	}

	.partners_block_5_btn_text {
		font-size: 24px;
		text-align: center;
		margin-top: 50px;
	}
}






// ----------------------------------------------------Biznes-partners-----------------------------------------------



.header_biznes_partner {
	min-height: 900px;


	.header_content {
		h1 {
			font-size: 51px;
		}
	}


}

.header_biznes_partner_btn_box {

	margin-top: -200px;


	.header_btn_box_text {
		margin-bottom: 83px;

		p {
			width: 45%;
		}
	}



	.header_biznes_partner_btn_box__list {
		.header_biznes_partner_btn_box__item {
			h3 {
				font-size: 32px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			ul {
				padding-left: 25px;

				li {
					list-style-type: none;
					position: relative;
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 20px;


					&::before {
						content: '';
						display: block;
						width: 10px;
						height: 10px;
						background-color: #0288D4;
						position: absolute;
						left: -20px;
						top: 50%;
						margin-top: -5px;
						border-radius: 50%;
					}
				}

			}
		}
	}
}





.partner_biznes_block_3 {
	margin-top: 100px;
	min-height: 1600px;
	position: relative;
	margin-bottom: 100px;

	.partner_biznes_block_3_list {
		.partner_biznes_block_3_item {
			h4 {
				font-size: 32px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			p {
				font-size: 18px;
				font-weight: 600;
			}
		}

		.partner_biznes_block_3_btn {
			display: flex;
			justify-content: center;

			a {
				display: inline-block;
				border: 3px solid #111;
				padding: 5px 40px;
				font-size: 22px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #111;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;
				margin-top: 30px;
				font-weight: 500;


				&:hover {
					text-decoration: none;
					background-color: #0589D6;
					color: #fff;
					transition: all 0.3s;
					border: 3px solid #fff;
				}




				&:hover {
					text-decoration: none;
				}

				&:hover::after {
					transform: translateX(0%);
				}
			}
		}
	}

	.partner_biznes_block_3_title {
		margin-top: 190px;
		width: 60%;
		margin-bottom: 100px;

		h2 {
			font-size: 32px;
			font-weight: 700;
			color: #fff;
		}
	}

	.partner_biznes_block_3_list2 {
		margin-bottom: 40px;


		.partner_biznes_block_3_list2_item {
			min-height: 330px;
			text-align: center;


			h4 {
				font-size: 24px;
				font-weight: 700;
				color: #fff;
				margin-bottom: 20px;
			}

			p {
				color: #fff;
				width: 87%;
				margin: 0 auto;
				font-size: 17px;
			}

			.partner_biznes_block_3_list2_item_img {
				height: 147px;
			}
		}
	}

	.partner_biznes_block_3_works {
		margin-bottom: 145px;

		.partner_biznes_block_3_works_title {
			text-align: center;

			h2 {
				font-size: 48px;
				color: #fff;
				font-weight: 700;
				margin-bottom: 60px;
			}
		}
	}

	.partner_biznes_block_3_box {
		h3 {
			font-size: 32px;
			font-weight: 700;
			color: #fff;
			width: 60%;
			margin-bottom: 60px;
		}

		a {
			display: inline-block;
			border: 3px solid #fff;
			padding: 8px 50px;
			font-size: 20px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: #fff;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;


			&:hover {
				text-decoration: none;
				background-color: #fff;
				color: #0589D6;
				transition: all 0.3s;
				border: 3px solid #fff;
			}




			&:hover {
				text-decoration: none;
			}

			&:hover::after {
				transform: translateX(0%);
			}
		}
	}

	.partner_biznes_block_3_bottom_img {
		position: absolute;
		bottom: -80px;
		right: 100px;
	}

}





.partner_biznes_block_4 {
	position: relative;
	margin-top: -70px;
	margin-bottom: 120px;

	.partner_biznes_block_4_list {
		display: flex;
		align-items: center;

		h4 {
			width: 60%;
			font-size: 24px;
			font-weight: 600;
			margin-left: 20px;
		}

	}
}


.partner_biznes_block_5 {
	margin-bottom: 70px;

	.partner_biznes_block_5_title {
		text-align: center;

		h2 {
			font-size: 32px;
			font-weight: 700;
		}
	}

	.partner_biznes_block_5_list {
		.partner_biznes_block_5_item {
			h3 {
				font-size: 32px;
				font-weight: 700;
			}

			a {
				display: inline-block;
				border: 3px solid #111;
				padding: 5px 25px;
				font-size: 22px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #111;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;
				margin-top: 20px;
				font-weight: 500;


				&:hover {
					text-decoration: none;
					background-color: #0589D6;
					color: #fff;
					transition: all 0.3s;
					border: 3px solid #fff;
				}




				&:hover {
					text-decoration: none;
				}

				&:hover::after {
					transform: translateX(0%);
				}
			}

			p {
				font-size: 18px;
			}
		}

		.pl-60 {
			padding-left: 60px;
		}
	}
}


.partner_biznes_block_6 {
	.partner_biznes_block_6_title {
		h2 {
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 40px;
		}
	}

	.partner_biznes_block_6_list {
		width: 70%;

		.partner_biznes_questsion_block {

			margin-bottom: 30px;
			cursor: pointer;

			.partner_biznes_questsion_block_answer {
				display: none;
			}

			.partner_biznes_questsion_block_title {
				position: relative;

				i {
					font-size: 35px;
					position: absolute;
					right: -20px;
					top: 50%;
					margin-top: -17px;
				}


			}
		}
	}
}




// --------------------------------------------------Join-us-------------------------------------------------------------

.header_join_us {

	min-height: 900px;

	.header_content h1 {
		font-size: 48px;
	}

	h4 {
		width: 100% !important;
		font-size: 24px;

	}

	.header_neyra_market_btn {
		a {
			display: inline-block;
			border: 3px solid #fff;
			padding: 8px 50px;
			font-size: 20px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: #fff;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;
			margin-top: 55px;


			&:hover {
				text-decoration: none;
				background-color: #fff;
				color: #0589D6;
				transition: all 0.3s;
				border: 3px solid #0589D6;
			}




			&:hover {
				text-decoration: none;
			}

			&:hover::after {
				transform: translateX(0%);
			}
		}
	}
}


.join_us_block_2 {
	position: relative;
	margin-top: -183px;
	margin-bottom: 50px;

	.join_us_block_2_list {

		.row {
			align-items: flex-end;
		}

		.join_us_block_2_item {
			.join_us_block_2_item_title {
				h2 {
					font-size: 32px;
					font-weight: 700;
					margin-bottom: 50px;
				}
			}

			.join_us_block_2_item_list {
				ul {
					padding-left: 25px;

					li {
						list-style-type: none;
						position: relative;
						font-size: 20px;
						font-weight: 600;
						margin-bottom: 20px;


						&::before {
							content: '';
							display: block;
							width: 10px;
							height: 10px;
							background-color: #0288D4;
							position: absolute;
							left: -20px;
							top: 50%;
							margin-top: -5px;
							border-radius: 50%;
						}
					}

				}


			}
		}
	}

}


.join_us_block_3 {


	.join_us_block_3_list {
		.join_us_block_3_item {
			h2 {
				font-size: 32px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			p {
				font-size: 18px;
			}

			a {
				display: inline-block;
				border: 3px solid #111;
				padding: 5px 40px;
				font-size: 22px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #111;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;
				margin-top: 20px;
				font-weight: 500;


				&:hover {
					text-decoration: none;
					background-color: #0589D6;
					color: #fff;
					transition: all 0.3s;
					border: 3px solid #fff;
				}




				&:hover {
					text-decoration: none;
				}

				&:hover::after {
					transform: translateX(0%);
				}
			}
		}
	}


	.block_3_join_us_section_2 {
		margin-top: 50px;
		margin-bottom: 50px;

		.block_3_join_us_section_2_title {
			h2 {
				font-size: 32px;
				font-weight: 700;
				text-align: center;
				margin-bottom: 80px;
			}
		}


		.block_3_join_us_section_2_list {
			.block_3_join_us_section_2_item {
				text-align: center;
				-webkit-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
				-moz-box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
				box-shadow: 1px 1px 8px 0px rgba(50, 50, 50, 0.55);
				border-radius: 30px;
				padding-top: 36px;
				transition: all 0.3s;
				min-height: 504px;
				background-color: #fff;

				&:hover
				{
					transform: translateY(-10px);
					transition: all 0.3s;
				}

				h3 {
					font-weight: 24px;
					font-weight: 700;
					margin-bottom: 20px;
					padding: 0 31px;
				}

				div {
					font-size: 17px;
					padding: 0 21px;
				}

				img {
					margin: 50px 0;
				}
			}
		}
	}

	.block_3_join_us_section_3
	{
		margin-top: 90px;
		margin-bottom: 80px;

		.block_3_join_us_section_3_title
		{
			h2
			{
				font-size: 32px;
				font-weight: 700;
				text-align: center;
				margin-bottom: 80px;
			}
		}

		.block_3_join_us_section_3_list
		{

			.join_row_mod
			{
				margin-bottom: 50px;
			}

			.block_3_join_us_section_3_item
			{
				display: flex;
				align-items: flex-start;
				font-size: 21px;
				font-weight: 600;
				margin-bottom: 50px;

				img
				{
					margin-right: 20px;
				}
			}
		}

		.block_3_join_us_section_3_btn
		{
			display: flex;
			justify-content: center;
			
			a {
				display: inline-block;
				border: 3px solid #111;
				padding: 5px 40px;
				font-size: 22px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #111;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;
				font-weight: 500;
			
			
				&:hover {
					text-decoration: none;
					background-color: #0589D6;
					color: #fff;
					transition: all 0.3s;
					border: 3px solid #fff;
				}
			
			
			
			
				&:hover {
					text-decoration: none;
				}
			
				&:hover::after {
					transform: translateX(0%);
				}
			}
		}
	}
}

.join_us_block_5
{
	margin-bottom: 0 !important;
}

.join_us_block_8
{
	padding: 40px 0;
}






// -------------------------------------------------------------Lectory-------------------------------------------------


.lectory_block_8
{
	padding: 30px 0 40px 0;
	margin-bottom: 0;
}


.lectory_block_5
{
	margin: 0;
}


.header_lectory
{
	min-height: 950px;

	.header_content
	{
		h4
		{
			width: 100%;
			margin-bottom: 30px;
			font-size: 21px;
		}
	
		h1
		{
			font-size: 48px;
		}
	}
	
}


.header_lectory_btn_box
{
	margin-top: -245px;
	margin-bottom: 30px;

	h3
	{
		font-size: 32px;
		font-weight: 700;
		width: 90%;
		margin-bottom: 10px;
	}

	p
	{
		font-size: 20px;
	}

	a {
		display: inline-block;
		border: 3px solid #111;
		padding: 5px 40px;
		font-size: 22px;
		border-radius: 30px;
		font-family: @fontOp;
		font-weight: 500;
		line-height: 35px;
		color: #111;
		position: relative;
		overflow: hidden;
		transition: all 0.3s;
		margin-top: 10px;
		font-weight: 500;


		&:hover {
			text-decoration: none;
			background-color: #0589D6;
			color: #fff;
			transition: all 0.3s;
			border: 3px solid #fff;
		}




		&:hover {
			text-decoration: none;
		}

		&:hover::after {
			transform: translateX(0%);
		}
	}
	
}


.lectory_block_2
{
	margin-bottom: 40px;

	.lectory_block_2_list
	{
		.lectory_block_2_item
		{
			h2
			{
				font-size: 32px;
				font-weight: 700;
				margin-bottom: 10px;
			}

			p
			{
				font-size: 21px;
			}

			a {
				display: inline-block;
				border: 3px solid #111;
				padding: 5px 40px;
				font-size: 22px;
				border-radius: 30px;
				font-family: @fontOp;
				font-weight: 500;
				line-height: 35px;
				color: #111;
				position: relative;
				overflow: hidden;
				transition: all 0.3s;
				margin-top: 10px;
				font-weight: 500;


				&:hover {
					text-decoration: none;
					background-color: #0589D6;
					color: #fff;
					transition: all 0.3s;
					border: 3px solid #fff;
				}




				&:hover {
					text-decoration: none;
				}

				&:hover::after {
					transform: translateX(0%);
				}
			}
			
		}
	}
}

.lectory_block_3
{
	margin-bottom: 80px;

	.lectory_block_3_title
	{
		h2
		{
			font-size: 32px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 60px;
		}
	}


	.lectory_block_3_list
	{
		.lectory_block_3_item
		{
			text-align: center;
			margin-bottom: 50px;
		}
	}
}





// -----------------------------------------------------Career--------------------------------------------------------------


.header_career {

	min-height: 900px;

	.header_content h1 {
		font-size: 48px;
	}

	h4 {
		width: 100% !important;
		font-size: 24px;

	}

	.header_neyra_market_btn {
		a {
			display: inline-block;
			border: 3px solid #fff;
			padding: 8px 50px;
			font-size: 20px;
			border-radius: 30px;
			font-family: @fontOp;
			font-weight: 500;
			line-height: 35px;
			color: #fff;
			position: relative;
			overflow: hidden;
			transition: all 0.3s;
			margin-top: 55px;


			&:hover {
				text-decoration: none;
				background-color: #fff;
				color: #0589D6;
				transition: all 0.3s;
				border: 3px solid #0589D6;
			}




			&:hover {
				text-decoration: none;
			}

			&:hover::after {
				transform: translateX(0%);
			}
		}
	}
}


.career_block_2
{
	margin-top: -172px;

	.career_block_2_item
	{
		display: flex;
		align-items: center;
		justify-content: space-around;

		img
		{
			margin-right: 5%;
		}

		span
		{
			font-size: 22px;
			font-weight: 700;
		}

		p	
		{
			font-size: 22px;
		}
	}

	.career_block_2_mod
	{
		margin-bottom: 50px;
	}
}





































// Cursor

#cursor,
#aura {
	position: absolute;
	border-radius: 100%;
	-webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-o-transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
	transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 10000
}

#cursor {
	width: 12px;
	height: 12px;
	background-color: rgba(0, 75, 162, 0.5);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

#cursor.active {
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0)
}

#aura {
	width: 46px;
	height: 46px;
	border: 1px solid rgba(0, 75, 162, 0.2);
	background-color: rgba(0, 75, 162, 0.027);
	-webkit-transform: translate(5px, 5px);
	-ms-transform: translate(5px, 5px);
	transform: translate(5px, 5px)
}

#aura.active {
	border: 1.2px solid rgba(255, 255, 255, 0.33);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3)
}

#aura.hidden,
#cursor.hidden {
	-webkit-transform: scale(0.001);
	-ms-transform: scale(0.001);
	transform: scale(0.001)
}




.but_up {
	animation: slideUp;
}






















// media
@media screen and(max-width: 1500px) {
	.block_2 .review_slider .review_slider_item .review_slider_item__text .review_content {
		font-size: 23px;
	}
}

@media screen and(max-width: 1370px) {
	.block_2 .review_slider .review_slider_item .review_slider_item__text .review_content {
		font-size: 21px;
	}

	.join_us_block_3
	{
		background-position: 130% 30% !important;
	}
}

@media screen and(max-width: 1310px) {
	.block_2 .review_slider .review_slider_item .review_slider_item__img img {
		width: 90px;
		height: 90px;
	}

	.block_2 .review_slider .review_slider_item .review_slider_item__text .review_content {
		font-size: 18px;
	}
}

@media screen and(max-width: 1200px) {
	header nav .header_menu li {
		margin-right: 24px;
	}

	header .header_content h1 {
		font-size: 55px;
	}


	header .header_content h4 {
		font-size: 21px;
	}

	header {
		min-height: 950px;
	}

	.block_6 .block_6_title .block_6_subtitle {
		padding: 10px 140px;
	}

	.header_btn_box .header_btn_box_text p {
		font-size: 34px;
	}


	.header_btn_box .header_btn_box_btn {
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}

	.block_3 .block_3_item h2 {
		font-size: 34px;
	}

	.block_3 .block_3_item p {
		font-size: 16px;
	}

	.block_4 .block_4_title h2 {
		font-size: 36px;
		margin-bottom: 40px;
	}

	.block_4 .block_4_content .block_4_item h3 {
		font-size: 32px;
	}

	.block_4 .block_4_content .block_4_item p {
		font-size: 17px;
	}

	.block_5 .block_5_btn span {
		padding: 9px 38px;
		font-size: 23px;
	}

	.block_6 .block_6_title h2 {
		font-size: 32px;
	}

	.block_6 .block_6_title .block_6_subtitle {
		font-size: 18px;
	}

	.block_7 .block_7_title h2 {
		font-size: 32px;
	}

	.block_8 .block_8_title h2 {
		font-size: 32px;
	}

	footer .footer_content .footer_item .footer_slogan {
		font-size: 15px;
	}

	.header_btn_box .header_btn_box_text p {
		font-size: 32px;
	}

	.header_btn_box .header_btn_box_btn a {
		padding: 9px 25px;
		font-size: 21px;
	}

	.block_5 .block_5_btn span {
		padding: 9px 25px;
		font-size: 21px;
	}

	.block_8 .block_8_btn a {
		padding: 9px 25px;
		font-size: 21px;
	}

	.block_6 .block_6_btn a {
		padding: 9px 25px;
		font-size: 21px;
	}


	header nav .header_menu li {
		margin-left: 0px;
		margin-right: 20px;
	}

	header.header_neyra_market .header_content h1 {
		font-size: 40px;
	}

	.header_neyra_market_btn_box .header_btn_box_text h3 {
		font-size: 28px;
		width: 50%;
	}


	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a p {
		font-size: 16px;
		font-weight: 400;
	}


	header.partners_header {
		min-height: 820px;
	}

	.header_biznes_partner_btn_box .header_btn_box_text p {
		width: 50%;
	}

	.header_biznes_partner {
		min-height: 900px;
	}

	.header_biznes_partner_btn_box {
		background-position: -546px 150px !important;
	}


	.partner_biznes_block_3 {
		background-position: -274px 60px !important;
	}

	.partner_biznes_block_3 {
		min-height: 1650px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_bottom_img {
		right: 50px;
		bottom: -160px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_title {
		margin-top: 150px;
	}


	.partner_biznes_block_4 .partner_biznes_block_4_list h4 {
		width: 49%;
		font-size: 21px;
		font-weight: 600;
		margin-left: 20px;
	}

	.header_join_us .header_content h1 {
		font-size: 45px;
	}


	.join_us_block_2 .join_us_block_2_list .join_us_block_2_item .join_us_block_2_item_list ul li {
		font-size: 17px;

	}

	.join_us_block_2 {
		margin-top: -205px;
	}


	.header_join_us {
		min-height: 923px;
	}

	.join_us_block_2_item img {
		margin-bottom: 50px;
	}

	.career_block_2 .career_block_2_item span {
		font-size: 19px;
	}



}

@media screen and(max-width: 998px) {
	header nav .header_menu {
		display: none;
	}

	header nav {
		justify-content: space-between;
	}

	header nav .mobile_but {
		display: block;
	}

	header .header_content h4 {
		font-size: 24px;
	}



	.header_btn_box {
		margin-top: -190px;
	}

	.header_btn_box .header_btn_box_text p {
		width: 50%;
	}

	header nav .header_logo {
		width: 100%;
	}

	header nav {
		flex-direction: column;
	}

	header nav .header_menu li {
		float: none;
		margin-bottom: 5px;
	}

	header nav .mobile_but {
		top: 54px;
		right: 45px;
	}

	header nav .header_menu {
		width: 100%;
		margin-top: 70px;
	}

	header nav .header_menu li a {
		display: inline-block;
	}

	header {
		height: auto;
	}

	header nav .header_menu {

		background: rgba(255, 255, 255, 0.2);
		padding: 20px;
	}



	header nav .mobile_but {
		top: 54px;
	}

	header {
		height: auto !important;
	}

	header nav .header_menu li a {
		font-size: 20px;
	}

	.block_3 .block_3_item img {
		margin-top: 50px;
		height: auto;
	}

	.block_3 {
		background-size: cover !important;
	}

	.col_order {
		order: 2;
	}

	.block_3 .block_3_item h2 {
		margin-top: 40px;
	}

	.block_3_item_content {
		margin-bottom: 100px;
		color: #fff;
	}

	.block_2 .review_slider .review_slider_item {
		opacity: 1;
	}

	.block_4 .block_4_content .block_4_item {
		text-align: center;
	}

	.block_4 .block_4_content .block_4_item h3 {
		font-size: 28px;
	}

	.block_4 .block_4_content .block_4_item p {
		font-size: 16px;
	}

	.block_6 .block_6_title .block_6_subtitle {
		padding: 10px 0px;
	}

	.block_7 .block_7_title {
		padding: 0px;
	}

	.block_7 .block_7_title h2 {
		font-size: 39px;
	}

	.block_8 .block_8_content .block_8_item {
		margin-bottom: 50px;
	}

	footer .footer_content .footer_item {
		text-align: center;
	}


	.footer_mod {
		margin-top: 50px;
	}

	footer .footer_content .footer_item ul li {
		display: flex;
		justify-content: center;
	}

	.footer_item.footer_item_second {
		img {
			width: 50%;
			margin: 0 auto;
		}
	}

	footer .footer_content .footer_item_first img {
		margin-left: 0;
	}

	footer .footer_content .footer_item_second {
		margin-top: 0;
	}

	footer .footer_content .footer_item ul {
		padding-left: 0;
	}


	.block_8 .block_8_content .slick-current .block_slide {
		transform: scale(0.7) !important;
		position: relative;
		z-index: 99999;
	}

	.block_8 .block_8_content .block_slide .block_8_slider_item .block_8_slider_item_title h2 {
		opacity: 1;
	}


	.header_btn_box .header_btn_box_btn a {
		padding: 9px 22px;
		font-size: 20px;
	}

	.block_5 .block_5_btn span {
		padding: 9px 22px;
		font-size: 20px;
	}

	.block_8 .block_8_btn a {
		padding: 9px 22px;
		font-size: 20px;
	}

	.block_6 .block_6_btn a {
		padding: 9px 22px;
		font-size: 20px;
	}

	header.header_neyra_market .header_content h1 {
		font-size: 42px;
	}


	header.partners_header {
		min-height: 820px;
	}

	.header_partners_btn_box .header_btn_box_text p {
		width: 100%;
	}

	.header_partners_btn_box {
		margin-top: -150px;
	}


	.partners_block_2 .partners_block_2_list .partners_block_2_item {
		height: 561px;
	}

	.partners_block_2 .partners_block_2_list .partners_block_2_item h4 {
		font-size: 31px;
		font-weight: 700;
		width: 80%;
	}



	.header_biznes_partner_btn_box .header_btn_box_text p {
		width: 70%;
		margin-left: 10px;
	}

	.header_biznes_partner_btn_box {
		margin-top: -160px;
	}


	.header_biznes_partner_btn_box__item img {
		width: 60%;
	}

	.header_biznes_partner_btn_box .header_btn_box_text {
		margin-bottom: 0;
	}

	.header_biznes_partner_btn_box {
		background-position: -100px 60px !important;
	}

	.partner_biznes_block_3 {
		background-position: -208px 60px !important;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_title {
		margin-top: 200px;
		width: 76%;
	}

	.header_biznes_partner_btn_box__item {
		margin-top: 50px;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_title {
		width: 100%;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_title h2 {
		font-size: 30px;
		text-align: center;
	}



	.partner_biznes_block_3 .partner_biznes_block_3_works .partner_biznes_block_3_works_title h2 {
		font-size: 42px;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_bottom_img img {
		width: 250px;
		height: 250px;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_box h3 {
		width: 70%;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_bottom_img {
		bottom: -93px;
	}


	.partner_biznes_block_3 {
		min-height: 1850px;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_works {
		margin-bottom: 112px;
	}


	.partner_biznes_block_4 .partner_biznes_block_4_list h4 {
		width: 60%;
		font-size: 21px;
		font-weight: 600;
		margin-left: 20px;
	}

	.partner_biznes_block_5 .partner_biznes_block_5_list .partner_biznes_block_5_item h3 {
		font-size: 27px;
	}

	.partner_biznes_block_5 .partner_biznes_block_5_list .partner_biznes_block_5_item {
		margin-bottom: 50px;
	}


	.partner_biznes_block_6 .partner_biznes_block_6_list {
		width: 90%;
	}

	.partner_biznes_block_6 .partner_biznes_block_6_list .partner_biznes_questsion_block .partner_biznes_questsion_block_title i {

		right: -25px;

	}


	.header_join_us {
		min-height: 860px;
	}

	.join_us_block_2_item {
		margin-bottom: 50px;
	}

	.join_us_block_2_item img {
		width: 276px;
	}


	.join_us_block_2_item img {
		margin-bottom: 0px;
	}


	.join_us_block_2 {
		margin-top: -240px;
	}

	.join_us_block_3_item {
		text-align: center;
		margin-bottom: 50px;
	}


	.join_us_block_2 {
		margin-bottom: 30px;
	}


	.block_3_join_us_section_2_item
	{
		margin-bottom: 50px;
		height: auto !important;
	}

	.join_us_block_3 .block_3_join_us_section_2 .block_3_join_us_section_2_list .block_3_join_us_section_2_item div {
		font-size: 21px;
		padding: 0 21px;
	}


	.join_us_block_3 .block_3_join_us_section_2 {
		margin-top: 30px;
		margin-bottom: 80px;
	}


	.join_us_block_3 .block_3_join_us_section_3 {
		margin-top: 0px;
	}

	.join_us_block_3 .block_3_join_us_section_2 {
		margin-bottom: 40px;
	}


	.header_lectory_btn_box
	{
		margin-top: -235px;
	}


	.lectory_block_2_item
	{
		text-align: center;
	}

	.header_lectory_btn_box {
		margin-bottom: 0px;
	}


	.lectory_block_2 {
		margin-bottom: 60px;
	}


	.header_career {
		min-height: 838px;
	}


	





}

@media screen and(max-width: 845px) {
	.partner_biznes_block_3_bottom_img {
		display: none;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_box h3 {
		margin: 0 auto 50px auto;
	}

	.partner_biznes_block_3_box {
		text-align: center;
	}

	.partner_biznes_block_4 .partner_biznes_block_4_list h4 {
		width: 100%;
		font-size: 21px;
		font-weight: 600;
		margin-left: 20px;
	}
}

@media screen and(max-width: 767px) {

	header {
		min-height: 950px;
	}

	header .header_content h1 {
		font-size: 45px;
	}

	.header_btn_box .header_btn_box_text p {
		width: 70%;
	}

	.header_btn_box {
		margin-top: -120px;
	}

	.block_4 .block_4_content .block_4_item_wrap {
		margin-bottom: 50px;
	}

	.block_5 .block_5_list .block_5_item {
		text-align: center;
		display: inline-block;

	}

	.block_7 .block_7_title h2 {
		font-size: 34px;
	}

	.block_8 .block_8_content .slick-current .block_slide {
		transform: scale(1.1) !important;
		position: relative;
		z-index: 99999;
	}

	.block_8 {
		background: none !important;
	}


	.header_btn_box .header_btn_box_btn a {
		padding: 7px 19px;
		font-size: 19px;
	}

	.block_5 .block_5_btn span {
		padding: 7px 19px;
		font-size: 19px;
	}

	.block_8 .block_8_btn a {
		padding: 7px 19px;
		font-size: 19px;
	}

	.block_6 .block_6_btn a {
		padding: 7px 19px;
		font-size: 19px;
	}

	header.header_neyra_market .header_content h1 {
		font-size: 38px;
	}

	.header_neyra_market_btn_box .header_btn_box_text h3 {
		font-size: 34px;
		width: 100%;
		text-align: center;
		top: -156px;
	}


	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a p {
		font-size: 21px;
	}

	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a h3 {
		font-size: 31px;
	}

	.neyra_market_block_2 {
		margin-top: 0;
	}

	.order_mod {
		order: 2;
	}

	header .header_content h1 {
		font-size: 48px;
	}


	header.partners_header {
		min-height: 780px;
	}

	.header_partners_btn_box .header_btn_box_text p {
		width: 100%;
	}

	.header_biznes_partner_btn_box .header_btn_box_text p {
		width: 100%;
		font-size: 27px;
		margin-left: 10px;
	}

	.header_biznes_partner {
		min-height: 850px;
	}

	.header_biznes_partner_btn_box {
		margin-top: -145px;
	}


	.header_biznes_partner_btn_box {
		background-position: -300px -100px !important;
	}

	.partner_biznes_block_3_item {
		text-align: center;
	}

	.partner_biznes_block_3 {
		background-position: -937px 60px !important;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_box h3 {
		width: 100%;
	}


	.partner_biznes_block_3 {
		padding-bottom: 100px;
	}


	.partner_biznes_block_4 .partner_biznes_block_4_list h4 {
		font-size: 19px;
	}

	.partner_biznes_block_5 .partner_biznes_block_5_list .pl-60 {
		padding-left: 0;
	}

	.partner_biznes_block_5 .partner_biznes_block_5_list .partner_biznes_block_5_item {
		text-align: center;
	}


	.partner_biznes_mod_order {
		order: -1;
	}



	.header_lectory .header_content h4 {
		font-size: 19px;
	}


	.header_lectory {
		min-height: 1146px;
	}


	.header_lectory_btn_box {
		margin-top: -267px;
	}



}


@media screen and(max-width: 576px) {

	header .header_content h1 {
		font-size: 39px;
	}

	header .header_content h4 {
		font-size: 18px;
	}

	header {
		min-height: 753px;
	}

	.header_btn_box .header_btn_box_text p {
		width: 100%;
		font-size: 33px;
	}

	header nav .mobile_but {
		right: 22px;
	}

	header .header_content {
		margin-top: 70px;
	}

	.header_btn_box {
		margin-top: -126px;
	}

	header nav .header_menu {
		width: 100%;
		margin-top: 31px;
	}

	.block_3_item_content {
		margin-bottom: 17px;
	}

	.block_4 .block_4_title h2 {
		font-size: 28px;
	}

	.block_4 .block_4_content .block_4_item h3 {
		font-size: 23px;
	}

	.block_5 .block_5_title h2 {
		font-size: 23px;
	}


	.block_5 .block_5_btn span {
		display: block;
		border: 3px solid #0589D6;
		padding: 15px 30px;
	}

	.block_7 .block_7_title h2 {
		font-size: 27px;
	}

	.block_6 {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.block_8 .block_8_content .block_8_item {
		padding: 10px;
	}

	.block_8 .block_8_btn a {
		padding: 15px 40px;
	}

	.block_8 .block_8_title h2 {
		font-size: 31px;
	}

	.but_up {
		position: fixed;
		bottom: 30px;
		left: 30px;
		cursor: pointer;
	}

	.but_up img {
		width: 30px;
		height: 30px;
	}

	.block_5 {
		margin-top: 0;
	}

	.block_8 .block_8_content .block_slide .block_8_slider_item .block_8_slider_item_title h2 {
		font-size: 20px;
	}


	.header_btn_box .header_btn_box_btn a {
		padding: 7px 17px;
		font-size: 18px;
	}

	.block_5 .block_5_btn span {
		padding: 7px 17px;
		font-size: 18px;
	}

	.block_8 .block_8_btn a {
		padding: 7px 17px;
		font-size: 18px;
	}

	.block_6 .block_6_btn a {
		padding: 7px 17px;
		font-size: 18px;
	}

	header.header_neyra_market .header_content h1 {
		font-size: 32px;
		margin-bottom: 50px;
	}

	header.header_neyra_market .header_content h4 {
		font-size: 19px;
	}

	header.header_neyra_market .header_content {
		margin-top: 47px;
	}

	header.header_neyra_market .header_content .header_neyra_market_btn {
		margin-top: 50px;
	}

	.header_neyra_market_btn_box .header_btn_box_text h3 {
		font-size: 28px;
		width: 100%;
		top: -83px;
		text-align: center;
		margin-bottom: 30px;
	}

	header.header_neyra_market .header_content .header_neyra_market_btn a {
		padding: 6px 40px;
	}

	header.header_neyra_market .header_content .header_neyra_market_btn {
		text-align: center;
	}

	.neyra_market_block_2_content {
		margin-top: 40px;
	}

	.neyra_market_block_2_content {
		margin-top: 80px;
	}

	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a p {
		font-size: 19px;
	}


	.block_8 .block_8_content .block_slide .block_8_slider_item .block_slide_text p {

		height: 150px !important;
	}


	header.partners_header {
		min-height: 680px;
	}


	.header_partners_btn_box .header_btn_box_text p {
		font-size: 38px;
	}


	.partners_block_2 {
		margin-top: 80px;
	}


	.partners_block_2 .partners_block_2_list .partners_block_2_item h4 {
		font-size: 33px;
	}

	.header_biznes_partner_btn_box .header_btn_box_text p {
		font-size: 29px;
		margin-left: 0;
	}

	.header_biznes_partner_btn_box .header_btn_box_text {
		flex-direction: column;
		text-align: center;
	}

	.header_biznes_partner {
		min-height: 735px;
	}


	.header_biznes_partner_btn_box {
		background: none !important;
	}


	.partner_biznes_block_3 {
		background-position: -1088px 60px !important;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_works .partner_biznes_block_3_works_title h2 {
		font-size: 37px;
	}

	.partner_biznes_block_3_works_list>.row>div {
		margin-bottom: 50px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_works {
		margin-bottom: 45px;
	}


	.header_join_us .header_content h1 {
		font-size: 36px;
	}


	.header_join_us {
		min-height: 780px;
	}


	.join_us_block_2 {
		margin-top: -195px;
	}


	.join_us_block_3
	{
		background-position: 100% 30% !important;
	}


	.lectory_block_2 .lectory_block_2_list .lectory_block_2_item h2
	{
		font-size: 29px;
	}


	.lectory_block_2 .lectory_block_2_list .lectory_block_2_item a {
		padding: 5px 20px;
		font-size: 19px;
	}


	.header_career .header_content h1 {
		font-size: 44px;
	}


	.header_career {
		min-height: 776px;
	}

	.career_block_2 .career_block_2_item
	{
		flex-wrap: wrap;
		text-align: center;
	}


	.career_block_2 .career_block_2_item img {
		margin-left: 36%;
		margin-bottom: 8%;
	}

	.career_block_2 .career_block_2_item p {
		font-size: 18px;
	}






}


@media screen and(max-width: 505px) {
	.partner_biznes_block_3 .partner_biznes_block_3_box a {
		padding: 8px 0;
		width: 100%;
	}

	.partner_biznes_block_4 .partner_biznes_block_4_list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.partner_biznes_block_4 .partner_biznes_block_4_list h4 {
		margin-top: 30px;
		margin-left: 0;
	}
}

@media screen and(max-width: 460px) {

	header .header_content h1 {
		font-size: 27px;
	}

	header .header_content h4 {
		width: 100%;
	}

	header {
		min-height: 731px;
	}

	.header_btn_box .header_btn_box_text p {
		width: 100%;
		font-size: 25px;
	}



	header .header_content h4 {
		font-size: 21px;
	}

	.header_btn_box {
		margin-top: -144px;
	}

	.header_btn_box .header_btn_box_btn {
		display: flex;
		justify-content: center;
		margin-top: 72px;
	}

	.header_btn_box .header_btn_box_btn a {
		font-size: 22px;
	}

	.header_btn_box .header_btn_box_text p {
		font-size: 19px;
	}

	.block_2 .review_slider .review_slider_item {
		flex-direction: column;
	}

	.block_2 .review_slider .review_slider_item .review_slider_item__img {
		padding-right: 0;
		margin-bottom: 10px;
		border-right: none;
	}

	.block_2 .review_slider .review_slider_item .review_slider_item__img img {
		margin-bottom: 10px;
		width: 130px;
		height: 130px;
	}

	.block_2 .review_slider .review_slider_item .review_slider_item__text {
		padding-left: 0;
	}

	.block_2 .review_slider .review_slider_item .review_slider_item__text {
		text-align: center;
	}

	.block_2 {
		height: 440px;
	}

	.block_3 .block_3_item h2 {
		font-size: 24px;
	}

	.block_3 {
		margin-top: 0;
	}


	.block_6 .block_6_title h2 {
		font-size: 30px;
	}

	.block_6 .block_6_title .block_6_subtitle {
		font-size: 17px;
	}

	.block_7 {
		margin-bottom: 70px;
	}

	.block_8 .block_8_content .slick-current .block_slide {
		transform: scale(1.3) !important;
	}


	.header_btn_box .header_btn_box_btn a {
		padding: 7px 17px;
		font-size: 18px;
		width: 100%;
		text-align: center;
	}

	.block_5 .block_5_btn span {
		padding: 7px 17px;
		font-size: 18px;
		width: 100%;
		text-align: center;
	}

	.block_8 .block_8_btn a {
		padding: 7px 17px;
		font-size: 18px;
		width: 80%;
		text-align: center;
	}

	.block_6 .block_6_btn a {
		padding: 7px 17px;
		font-size: 18px;
		width: 100%;
		text-align: center;
	}

	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a {
		padding: 20px;
	}

	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a h3 {
		font-size: 27px;
	}

	.neyra_market_block_2 .neyra_market_block_2_content .neyra_market_block_2_content_item a p {
		font-size: 16px;
	}

	.header_neyra_market_btn_box .header_btn_box_text h3 {
		top: -95px;
	}

	header.header_neyra_market .header_content h1 {
		font-size: 25px;
	}

	header.header_neyra_market .header_content h4 {
		font-size: 16px;
	}

	.header_content .header_neyra_market_btn {
		margin-top: 40px;
	}

	header.header_neyra_market .header_content h1 {
		margin-bottom: 40px;
	}

	.block_8 .block_8_content .slick-current .block_slide {
		padding: 20px;
	}

	.block_8 .block_8_content .slick-current .block_slide .block_slide_text {
		height: 140px;
	}

	.neyra_market_block_2 .neyra_market_block_2_btn a {
		font-size: 19px;
	}

	header.partners_header {
		min-height: 620px;
	}

	.header_partners_btn_box .header_btn_box_text p {
		font-size: 27px;
	}

	.header_partners_btn_box {
		margin-top: -100px;
	}


	.header_partners_btn_box .header_btn_box_text p {
		font-size: 35px;
	}

	.partners_block_2 .partners_block_2_list .partners_block_2_item h4 {
		font-size: 31px;
	}

	.header_partners_btn_box .header_btn_box_text p {
		font-size: 26px;
	}

	.partners_block_2 .partners_block_2_list .partners_block_2_item h4 {
		font-size: 25px;
	}

	.block_5 .block_5_btn span {
		padding: 7px 8px;
		font-size: 15px;
		width: 100%;
		text-align: center;
	}

	.header_biznes_partner_btn_box .header_btn_box_text p {
		font-size: 20px;
	}

	.header_biznes_partner {
		min-height: 635px;
	}

	.header_biznes_partner_btn_box {
		margin-top: -85px;
	}

	.header_biznes_partner .header_content h1 {
		font-size: 34px;
	}

	.header_biznes_partner {
		min-height: 670px;
	}

	.header_biznes_partner_btn_box .header_biznes_partner_btn_box__list .header_biznes_partner_btn_box__item h3 {
		font-size: 20px;
	}

	.header_biznes_partner_btn_box .header_biznes_partner_btn_box__list .header_biznes_partner_btn_box__item ul li {
		font-size: 16px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_list .partner_biznes_block_3_item h4 {
		font-size: 26px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_list .partner_biznes_block_3_item p {
		font-size: 16px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_list .partner_biznes_block_3_btn a {
		padding: 5px 30px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_title h2 {
		font-size: 25px;
	}

	.partner_biznes_block_3 .partner_biznes_block_3_works .partner_biznes_block_3_works_title h2 {
		font-size: 33px;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_box h3 {
		font-size: 29px;
	}


	.partner_biznes_block_3 .partner_biznes_block_3_box a {
		font-size: 14px;
		padding: 8px 5px;
	}

	.partner_biznes_block_5 .partner_biznes_block_5_title h2 {
		font-size: 24px;
		font-weight: 700;
	}


	.partner_biznes_questsion_block_title h4 {
		font-size: 20px;
	}

	.partner_biznes_block_6 .partner_biznes_block_6_title h2 {
		font-size: 28px;
	}

	.header_join_us .header_content h4 {
		font-size: 17px;
	}

	.header_join_us .header_neyra_market_btn a {
		padding: 8px 20px;
		font-size: 18px;
	}


	.header_join_us {
		min-height: 890px;
	}

	.join_us_block_2 .join_us_block_2_list .join_us_block_2_item .join_us_block_2_item_title h2 {
		font-size: 28px;
	}

	.join_us_block_3 .join_us_block_3_list .join_us_block_3_item h2 {
		font-size: 29px;
	}

	.join_us_block_3 .join_us_block_3_list .join_us_block_3_item p {
		font-size: 17px;
	}

	.join_us_block_3 .join_us_block_3_list .join_us_block_3_item a {
		padding: 5px 20px;
		font-size: 20px;
	}


	.join_us_block_3 .block_3_join_us_section_2 .block_3_join_us_section_2_list .block_3_join_us_section_2_item div {
		font-size: 17px;
		padding: 0 10px;
	}


	.join_us_block_3 .block_3_join_us_section_3 .block_3_join_us_section_3_title h2
	{
		font-size: 30px;
	}

	.join_us_block_3 .block_3_join_us_section_3 .block_3_join_us_section_3_list .block_3_join_us_section_3_item
	{
		font-size: 18px;
	}

	.join_us_block_8
	{
		padding: 20px 0 40px 0;
	}

	.header_lectory_btn_box h3 {
		font-size: 26px;
	}


	.header_lectory_btn_box {
		margin-top: -268px;
	}


	.header_lectory .header_content h1 {
		font-size: 34px;
	}

	.header_lectory .header_content h4 {
		font-size: 16px;
	}


	.header_lectory {
		min-height: 1223px;
	}

	.header_career .header_content h4 {
		font-size: 16px;
	}


	.header_career .header_neyra_market_btn a {
		padding: 8px 20px;
	}


	.header_career {
		min-height: 812px;
	}





}

@media screen and(max-width: 360px) {
	.block_8 .block_8_content .slick-current .block_slide {
		padding: 0px;
	}
}