@import 'vars.less';

/*Спецификации*/



.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}
/*------------------------------------------------------------------------*/


body
{
    font-family: @fontMain;
}





// header
header{
    min-height: 700px;
    nav
    {
        display: flex;
    }
}
// end header